<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2QFX8SN83P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2QFX8SN83P');
    </script>
    <meta charset="UTF-8">
    <title>Sample Application by Ambassador Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
<header>
    <h1>Explore your Kubernetes sandbox</h1>
    <h4>Powered by the <a href="https://app.getambassador.io/initializer">K8s Initializer</a></h4>
</header>